:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #242424;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #4fa8fb;
}


.input{
  padding: .5rem;
  width: 15rem;
}


.personaje-contenedor {
  background-color: #fff;
  border-radius: 1rem;
  margin: 1rem;
  width: 20rem;
  padding: 1rem;
}

.personajes_img{
  width: 180px;
  height: 280px;
}

.personajes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title{
  color: #1a1a1a;
  text-align: start;
  margin-left: 1rem;
  font-weight: 700;
}

p{
  color: #1a1a1a;
  font-weight: 700 ;
  text-align: start;
  margin-left: 1rem;
}
