html {
  box-sizing: border-box;
  font-size: 62.5%;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #242424;
  margin: 0;
  display: flex;
  place-items: center;
}

.contenedor{
  max-width: 110rem;
  margin: 20rem auto;
}

.contenedor_cartas{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
}

.img{
  background-color: #fff;
  border-radius: 3rem;
  padding: 1rem;
  height: 15rem;
  width: 15rem;
  
}

.img {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}


 @-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
