:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body {
  background-color: #fbfaf8; 
}


.contenedor {
  max-width: 1280px;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
}

.input{
  width: 500px;
  height: 25px;
  position: relative;
  padding-left: 20px;
}

.input-container::before{
  content: '';
  position: absolute;
  display: inline-block; 
  background-image: url('../public/busqueda-de-lupa.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  left: 1250px;
}
