@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');body{
  background-color: #B08A61;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.turno-display {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.numero-turno {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
}

.texto-turno {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  width: 4rem;
}

.btn{
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 4rem ;
}

.reset{
  padding: .4rem;
  margin: 1rem 0 0 0;
  border-radius: .5rem;
  width: 5rem;
  transition: background-color .2s ease-in-out;
}

button{
  cursor: pointer;
}

.reset:hover{
  background-color: #B08A61;
  color: #fff;
}


